*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: url('../images/folio2.png')no-repeat;
    background-size: cover;
    background-position: center ;
    min-height: 95vh;
    font-family: sans-serif;
    position: relative;
}
h1{
    margin-top: 65px;
    color: white;
}
p{
    color: white;
}
form{
    color: white;
}
